<template name="me">
{{#markdown}}

Steven Barragán Naranjo
======================

> email: [me@steven.mx](mailto:me@steven.mx)

> twitter: [@steven_barragan](http://twitter.com/steven_barragan)

> webpage: [steven.mx](http://steven.mx)

> github: [stevenbarragan](http://github.com/stevenbarragan)

> linkedin: [Steven Barragán](http://www.linkedin.com/pub/steven-barragan/33/213/2b2)

### About me:

I was born in California, USA, I grew up in Michoacan, Mexico, I got a Bachelor degree in Computer Science in the Universidad de Guadalajara.

I'm a software developer who enjoys working with new technologies and find out the best solutions. I like to solve algorithms and work with the best practices. I'm a dedicated person, if something needs to be done, no matter what, I'll do it.

I've work with amoung technologies such as:

* ruby
* ruby on rails
* javscript
* Backbone
* git
* mysql
* postgress
* mongoDB
* meteor
* and so on...

You can check some of the projects I've worked on in my linkedin or my github.
{{/markdown}}
</template>
