<template name="pingpong_start">
  {{#if match }}
    {{> pingpong_start_button }}
  {{else}}
    Waiting for someone to play with
  {{/if}}
</template>

<template name="pingpong_start_button">
  {{#if counter.finished }}
    {{> pingpong_board }}
  {{else}}
    <div id="counter_board">
      <div class='start_game'>
        Start Game
      </div>
      {{#if counter.started }}
        <div class='time'>
         {{ counter.time }}
        </div>
      {{else}}
        <button class="btn">Play</button>
      {{/if}}
    </div>
  {{/if}}
</template>
