<template name="me">
{{#markdown}}

Steven Barragán Naranjo
======================

> email: [me@steven.mx](mailto:me@steven.mx)

> github: [stevenbarragan](http://github.com/stevenbarragan)

> linkedin: [Steven Barragán](http://www.linkedin.com/pub/steven-barragan/33/213/2b2)

> twitter: [@steven_barragan](http://twitter.com/steven_barragan)

> webpage: [steven.mx](http://steven.mx)

## About me:

I'm {{ age }} years old, I was born in California, USA, I grew up in Michoacán, México, I got a Bachelor degree in Computer Science at the Universidad de Guadalajara.

I'm a web developer who enjoys working with new technologies and findind out the best solutions. I like solving algorithms and workig with the best practices. I'm a dedicated person, if something needs to be done, no matter what, I'll do it.

I've work with among technologies such as:

* ruby
* ruby on rails
* javascript
* Backbone
* Angular
* git
* mysql
* postgress
* mongoDB
* meteor
* and so on...

You can check some of the projects I've worked on in my [linkedin](http://www.linkedin.com/pub/steven-barragan/33/213/2b2) or my [github](http://github.com/stevenbarragan).
{{/markdown}}
</template>
